:root{
    --PanelBGColor: rgb(8, 8, 8);
    --Contrast1: #414141;
}

body {
    margin: 0;
    color: white;
}

header {
    padding: 4px;
    position: absolute;
    width: 100vw;
    top: 0;

    z-index: 10;

    background-color: #00000077;
    border-bottom: 1px solid var(--Contrast1);

    display: flex;
    flex-flow: row;
    justify-content: space-between;
}

#wrapper {
    height: 100vh;
    background-image: url("/docs/mainPage/images/Background.png");
}

.logo {
    margin: 0;

    max-width: 64px;
    max-height: 64px;
}